body {
    color:#333333;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh ; /*set = to browser height*/
}

footer{
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

header{
    margin-top: 16px;
    margin-bottom: 48px;
}

h1{
    font-size: 64px;
    margin-bottom: 16px;
}

/*just targets a tags in header:*/
header a {

    color: #888888;
    margin-right: 16px;
    text-decoration: none;

}

/*.className styles elements with class="className" */
.portrait{
    margin: 250px
}

/*flex-box used to style body and this class helps create a sticky footer - footer that stays down*/
.main-content{
    flex-grow:1;
}
